body {
  margin: 0;
  padding: 0;
  background-color: red;
  width: 100vw;
  height: 100vh;
}
.container {
  width: 25%;
  height: 100%;
  background-color: hotpink;
  display: flex;
  flex-direction: column;
}
.hamburger {
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 0;
}
.hamburger > div {
  height: 5px;
  width: 35px;
  margin:10px ;
  background-color: #fff;
  border-radius: 5px;
}
input:hover + .hamburger :first-child {
  width:40px;
  transform: rotate(40deg) translateY(10px);
  transition: 1s;
}
input:hover + .hamburger :nth-child(2){
  display: none;
}
input:hover + .hamburger :last-child{
  width: 40px;
  transform: rotate(-40deg) translateY(-10px);
  transition: 1s;
}
.main {
  opacity: 0;
  transform: translateX(-50px);
  transition: 500ms;
  cursor: pointer;
  gap: 9px;
  
}
.main > p:hover {
  width: 10%;
  border-bottom: 1px solid white;
  display: flex;
  transition: 200ms ;
}
input:checked + .main {
  opacity: 1;
  transform: translateX(100px);
  transition: 1s;
  display: flex;
  flex-direction: column;
  
 
}
input {
  height: 39px;
  width: 39px;
  position: absolute;
  opacity: 0; 
  z-index: 2;
}
canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}