.back{
    background-color: rgb(19, 31, 31);
    height: 100vh;
    width: 100vw;
    display: flex;
align-items: center;
justify-content: center;
}
*{
    margin: 0px;
}
.cir{
    height: 500px;
width: 500px;

background-color: rgb(12, 39, 30);
border: solid green;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;

}
.cir2{
    background-color: black;
    height: 390px;
    width: 390px;
    
    background-color: rgb(0, 0, 0);
    border: solid green;
    border-radius: 50%;
    display: flex;
align-items: center;
justify-content: center;
}
.cir3{
    background-color: black;
    height: 360px;
    width: 360px;
    
    background-color: rgb(252, 249, 249);
    border: solid rgb(38, 169, 192) 3px ;
    border-radius: 50%;
box-shadow: aqua;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}
.cir3 > div{
position: absolute;
top: 45%;
    min-width: 18.5vw;
    height: 30px;
    background-color: rgb(19, 138, 138);
    animation: roll 7s infinite;
    transform: rotate(30deg);
    opacity: .7;
  }
  
  @keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

